* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#typed_container {
  width: 50vw;
  height: 60vh;
  border-radius: 10px;
  border: 0px solid white;
  overflow: hidden;
}

#typed_container_top {
  background-color: #0a0a0a;
  height: 10%;
  text-align: center;
  padding: 10px 10px;
}

#typed_container_core {
  background-color: #0c0c0c;
  height: 90%;
  padding: 10px;
  padding: 50px 10px;
  text-align: center;
}

.typed-cursor {
  font-family: "Press Start 2P", cursive;
  color: #838383;
}

.text {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: #838383;
  line-height: 2;
  display: inline; /*Se non è in line il cursore non segue il testo*/
}
